.home{
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 152px;
  &__title{
    width: 825px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 68px;
    /* or 106% */

    text-align: center;
    margin-bottom: 34px;
    color: #191919;
  }
  &__subtitle{
    margin-bottom: 36px;
    width: 613px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    text-align: center;

    color: #191919;
  }
  &__form{
    position: relative;
    max-width: 476px;
  }
  &__input{
    width: 476px;
    height: 56px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #7352FF;
    box-sizing: border-box;
  }
  &__btn{
    position: absolute;
    right: -20px;
    background: #7352FF;
    border-radius: 21px;
    width: 149px;
    height: 56px;
    outline: none;
    border-style: none;
    color: white;
  }
}