.split{
    padding: 163px 0 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &__btn{
        display: flex;
        align-items: center;
        width: 107px;
        height: 44px;
        text-decoration: none;
        justify-content: center;
        background: #F7F2E4;
        border-radius: 63.959px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 140% */

        text-align: center;

        color: #2B2A35;
        margin: 32px 0 14px;
    }
    &__subtitle{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        text-align: center;

        color: #F6C627;
    }
    &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 68px;
        /* or 106% */

        text-align: center;

        color: #191919;
        width: 854px;
        position: relative;
        &:before{
            content: url('../../src/img/split/Vector.png');
            position: absolute;
            top:50%;
            left:-153px
        }
        &:after{
            content: url('../../src/img/split/Vector.png');
            position: absolute;
            top:50%;
            right:-153px;
            transform: rotate(-180deg);
        }
    }
    &__info-block{
        margin-top: 202px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: relative;
    }
    &__left-side-info{
        width: 433px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        /* or 150% */


        color: #191919;
        margin-bottom: 73px;

    }
    &__new-split{
        position: absolute;
        right: -143px;
    }
    &__left-side-servis{
        display: flex;
        align-items: center;
        .servis{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 20px;
            border: 1px solid #EDEDED;
            width: 127px;
            height: 36px;
            img{
                height: 24px;
                width: 24px;
            }
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 24px;
                /* identical to box height, or 140% */


                color: #191919;
                text-decoration: none;
            }
        }
    }
    &__servis-title{
            display: block;
            margin-bottom: 22px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height, or 100% */

            letter-spacing: 0.559642px;
            text-transform: uppercase;

            color: #F6C627;
    }
}