.statistics {
  position: relative;
  z-index: 2;


  &__block {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__img {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin: -40px 0 0;
  }
}